<footer class="footer">
    <div class="footerInfo">
        <div>
            <h3>Kommune 69</h3>
            <p>
                Varslingssystemet for Kommune 69 brukes til å registrere, følge opp og administrere hendelser som påvirker kommunens drift.
            </p>
        </div>
        <div>
            <h3>Nyttige lenker:</h3>
            <ul>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/profil/<%= bruker._id %>">Min side</a></li>
            </ul>
        </div>
    </div>
    <p class="copyright">Copyright &copy; Kommune 69 - 2026</p>
</footer>

</body>
</html>