<nav>
    <h2>Kommune 69 - Varslingssystem</h2>

    <% if(typeof bruker !== 'undefined' && bruker !== null) { %>
        <div class="navLinks">
            <a href="/">Alle hendelser</a>
            <span>
                <p><a href="/profil/<%= bruker._id %>">Hei, <%= bruker.fornavn %>!</a></p>    
            </span>
        <% if(bruker.avdeling == 'administrasjon') { %>
            <span>
                <p><a href="/admin-oversikt">Administrasjon</a></p>
            </span>

            </div>
        <% } %>
    <% } %>

</nav>