<div class="hendelsePreview tiltakPreview">
    <div>
        <h2><%= bruker.fornavn %> <%= bruker.etternavn %></h2>
    </div>
    <div>
        <p><%= bruker.avdeling %></p>        
    </div>
</div>