<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<h1>-- 404 --</h1>
<p> OBS! ser ut som at vi ikke finner siden du leter etter! :(</p>

<%- include('./partials/foot.ejs') %>