<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<h1 class="profileWelcome">Løste hendelser:</h1>

<div class="list">
    <% results.forEach(res => { %>
        <%- include('./partials/hendelsePreview.ejs', { res }) %>
    <% }); %>    
</div>


<%- include('./partials/foot.ejs') %>