<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<h1 class="profileWelcome">Alle brukere:</h1>

<div>
    <% if(brukere.length > 0 ) { %>
        <% brukere.forEach(bruker => { %>
            <%- include('./partials/userPreview.ejs', { bruker }) %>
        <% }); %> 
    <% } else { %>
        <p>Ser ut som at vi ikke har noe data å vise her akkurat nå.</p>
    <% } %>
</div>


<%- include('./partials/foot.ejs') %>