<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<h1 class="profileWelcome">Arkiv:</h1>

<div class="list">
    <% if(results.length > 0 ) { %>
        <% results.forEach(res => { %>
            <%- include('./partials/hendelsePreview.ejs', { res }) %>
        <% }); %>
    <% } else { %>
        <p>Ser ut som at vi ikke har noe data å vise her akkurat nå.</p>
    <% } %>
</div>


<%- include('./partials/foot.ejs') %>